[user]
	email = rao.rohan.a@gmail.com
	name = Rohan Rao
	signingkey = 6BB003115E21ACB7
[color]
	ui = true
	interactive = auto
	diff = auto
	branch = auto
[format]
	pretty = medium
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
[credential]
	helper = cache
[commit]
	gpgsign = true
