! vim: set filetype=xdefaults :

#define blk		101010
#define bblk	151515
#define red		E84F4F
#define bred	D23D3D
#define grn		B8D68C
#define bgrn	A0CF5D
#define ylw		E1AA5D
#define bylw	F39D21
#define blu		7DC1CF
#define bblu	4E9FB1
#define mag		9B64FB
#define bmag	8542FF
#define cyn		6D878D
#define bcyn	42717B
#define wht		dddddd
#define bwht	ffffff

*foreground:	#bwht
*background:	#bblk

!black
*color0:		#blk
*color8:		#bblk
!red
*color1:		#red
*color9:		#bred
!green
*color2:		#grn
*color10:		#bgrn
!yellow
*color3:		#ylw
*color11:		#bylw
!blue
*color4:		#blu
*color12:		#bblu
!magenta
*color5:		#mag
*color13:		#bmag
!cyan
*color6:		#cyn
*color14:		#bcyn
!white
*color7:		#wht
*color15:		#bwht

Xft.dpi:				96
Xft.antialias:			1
Xft.hinting:			0
Xft.hintstyle:			hintslight
Xft.lcdfilter:			lcddefault
Xft.rgba:				rgb

xterm*locale:			true
xterm*faceName:			Source Code Pro:size=12:antialias=true
xterm*borderWidth:		0
xterm*saveLines:		4096

URxvt.scrollBar:		false
URxvt.font:				xft:DejaVuSansMono:size=10
